##list

slicing

In [121]:
list1=[10,20,30,40,50,60,70]
print(list1[1])
print(list1[-2:2])
print(list1[4:-1])
print(list1[2:-2])
print(list1[-3:])
print(list1[:-3])

20
[]
[50, 60]
[30, 40, 50]
[50, 60, 70]
[10, 20, 30, 40]

concatenation

In [122]:
list2=[100,110,120]
print(list1+list2+[50,51,52])

[10, 20, 30, 40, 50, 60, 70, 100, 110, 120, 50, 51, 52]

repeat

In [123]:
print(list2*3)

[100, 110, 120, 100, 110, 120, 100, 110, 120]

membership

In [124]:
print(100 in list2)

True

delete from list(del,remove,pop)

In [125]:
list1=['john','sam','rick','jim']
del(list1[1])
print(list1)

['john', 'rick', 'jim']

In [126]:
list1=['john','sam','rick','jim']
del(list1[0:])
print(list1)

[]

In [127]:
list1 = ['John','Sam','Rick', 'Jim']
a = list1.pop(2)
print (a)
print (list1)

Rick
['John', 'Sam', 'Jim']

In [128]:
list1 = ['John','Sam','Rick', 'Jim']
a = list1.remove ('John')
print (a)
print (list1)

None
['Sam', 'Rick', 'Jim']

In [129]:
list1 = [1,2,3,4,5,6]
list1.append (7)
print (list1)

[1, 2, 3, 4, 5, 6, 7]

In [130]:
list1 = []
for x in [1,2,3,4,5]:
        list1.append (x * 2)
print (list1)

[2, 4, 6, 8, 10]

In [131]:
list1 = [x * 2 for x in [1,2,3,4,5]]
print (list1)

[2, 4, 6, 8, 10]

Append, Insert, Extend

In [132]:
list1 = [1,2,3,4,5,6]
list1.append (15)
list1.extend (['A','B','C'])
list1.insert (2, 'M')
list1.insert (2, ['P','Q','R'])
print (list1)

[1, 2, ['P', 'Q', 'R'], 'M', 3, 4, 5, 6, 15, 'A', 'B', 'C']

sort

In [133]:
list1 = ['Rick','Jim','Mark','Jack','Ken']
list2 = sorted (list1)
print (list1)
print (list2)

['Rick', 'Jim', 'Mark', 'Jack', 'Ken']
['Jack', 'Jim', 'Ken', 'Mark', 'Rick']

In [134]:
list1 = ['Rick','Jim','Mark','10','50','60','Jack','jack','Ken']
list2 = sorted (list1)
print (list1)
print (list2)

['Rick', 'Jim', 'Mark', '10', '50', '60', 'Jack', 'jack', 'Ken']
['10', '50', '60', 'Jack', 'Jim', 'Ken', 'Mark', 'Rick', 'jack']

sorted

In [135]:
x=[10,20,80,44,24,13,10]
print(sorted(x))#sorted order
sortx=sorted(x)
print('before sorting=')
print(x)#no change to orginal list 
print('after sorting=')
print(sortx)

[10, 10, 13, 20, 24, 44, 80]
before sorting=
[10, 20, 80, 44, 24, 13, 10]
after sorting=
[10, 10, 13, 20, 24, 44, 80]

sort

In [136]:
x=[30,20,11,2,33,44,4,9]
print(x.sort())#return none
sortx=x.sort()#not able to assign
print(x)#x sorted 
print(sortx)

None
[2, 4, 9, 11, 20, 30, 33, 44]
None

print in reverse

In [137]:
print(x[::-1])
print(x[4:0:-1])

[44, 33, 30, 20, 11, 9, 4, 2]
[20, 11, 9, 4]

#list summary

making a list:

In [138]:
colors=['red','blue','green','black','white']
#getting the first element
first_col=colors[0]
#getting the second element
second_col=colors[1]
#getting the last element
newest_col=colors[-1]

In [139]:
print(first_col,'color wow ,',second_col,'color wow wow wow' ,'and',newest_col,'o my god wow')

red color wow , blue color wow wow wow and white o my god wow

modifying individual items:

In [140]:
#changing an element
colors[0]='yellow'
colors[-2]='red'
print(colors)

['yellow', 'blue', 'green', 'red', 'white']

In [141]:
#adding elements:
colors.append('orange')
print(colors)

['yellow', 'blue', 'green', 'red', 'white', 'orange']

In [142]:
#starting with an empty list
colors=[]
colors.append('red')
colors.append('blue')
colors.append('green')
print(colors)

['red', 'blue', 'green']

In [143]:
#inserting elements at a particular position
colors.insert(0,'violet')
colors.insert(2,'purple')
print(colors)

['violet', 'red', 'purple', 'blue', 'green']

In [144]:
#removing elements:
#deleting an element by its position
del colors[-1]
print(colors)

['violet', 'red', 'purple', 'blue']

In [145]:
#removing an item by its value
colors=['red','blue','green','black','white']
colors.remove('green')
print(colors)

['red', 'blue', 'black', 'white']

pooping elements

In [146]:
#pop the last item from a list
most_recent_col=colors.pop()
print(most_recent_col)

white

In [147]:
#pop the first item from the list
first_col=colors.pop()
print(first_col)
print(colors)

black
['red', 'blue']

In [148]:
#length
num_colors=len(colors)
print('we have '+str(num_colors)+' colors')

we have 2 colors

sorting a list

In [149]:
#sorting a list permanently
colors.sort()
print(colors)

['blue', 'red']

In [150]:
#sorting a list permanently in reverse alphabetical order
colors.sort(reverse=True)
print(colors)

['red', 'blue']

In [151]:
#sorting a list temporarily
print(sorted(colors))
print(sorted(colors,reverse=True))

['blue', 'red']
['red', 'blue']

In [152]:
#reverse the order of the list
print(colors)
colors.reverse()
print(colors)

['red', 'blue']
['blue', 'red']

#looping through a list

In [153]:
#printing all items in a list
for col in colors:
    print(col)

blue
red

In [154]:
#printing a message for each item and a separate message afterwards
for col in colors:
    print('hello ,welcome to ''+ col +'!')
print("welcome all ,we are glad to see you!")

SyntaxError: unterminated string literal (detected at line 3) (1825145164.py, line 3)

#range function

In [155]:
#printing the numbers 1 to 300
for num in range(1,301):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300

In [156]:
#making a list of numbers from 1to a million
nums=list(range(1,101))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

#simple statistics:

In [157]:
#finding the minimum value in a list
nums=[22,32,43,54,65,6,76,112,2,20]
num_min=min(nums)
print(num_min)

2

In [158]:
#finding the maximum value
nums=[12,21,32,43,54]
total_num=sum(nums)
print(total_num)

162